@model SailorMoon.Models.Notas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Notas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nota1" class="control-label"></label>
                <input asp-for="Nota1" class="form-control" />
                <span asp-validation-for="Nota1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota2" class="control-label"></label>
                <input asp-for="Nota2" class="form-control" />
                <span asp-validation-for="Nota2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota3" class="control-label"></label>
                <input asp-for="Nota3" class="form-control" />
                <span asp-validation-for="Nota3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota4" class="control-label"></label>
                <input asp-for="Nota4" class="form-control" />
                <span asp-validation-for="Nota4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promedio" class="control-label"></label>
                <input asp-for="Promedio" class="form-control" />
                <span asp-validation-for="Promedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class ="form-control" asp-items="ViewBag.IdCurso"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstudianteFk" class="control-label"></label>
                <select asp-for="IdEstudianteFk" class ="form-control" asp-items="ViewBag.IdEstudianteFk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
